.container > div {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    height: 4.6rem;

    padding: 1.2rem 0;
    border-bottom: 2px solid var(--light-color);

    button:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.username {
    text-align: start;
}

.icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding-left: 0.5rem;
}

.colorSquare {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    div {
        width: 0.8rem;
        height: 0.8rem;
    }
}

.actions {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

.selectPlayer {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
