.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.6rem;

    width: 100vw;

    margin-top: 3rem;
    padding: 0 6rem;
    text-align: center;

    > div {
        padding-bottom: 1.2rem;
        border-bottom: 2px solid var(--light-color);
    }
}

.tableHeader {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.username, .color {
    text-align: start;
}
