.container {
    width: 90vw;

    @media (max-width: 450px) {
        & {
            width: 94vw;
        }
    }
}

.addNewPlayerButton {
    margin: 2rem 0;

    @media (max-width: 768px) {
        button {
            margin: auto;
        }
    }
}
