.container {
    margin-top: -1rem;
    padding: 0.4rem 1rem;

    width: 100%;

    color: #000;
    background: var(--red);

    &, div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
    }

    svg {
        cursor: pointer;
    }
}
