.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    height: 100%;

    div {
        display: inline-flex;
        align-items: center;
        gap: 1rem;

        span {
            padding-right: 1rem;
            border-right: 2px solid var(--text);
            font-size: 1.7em;
        }
    }

    button {
        width: 100%;

        padding: 0.6rem 1rem;

        background: var(--light-color);
        border-radius: 5px;
        border: 0;

        color: var(--text);
        cursor: pointer;

        transition: 0.5s;

        &:hover {
            transform: scale(1.1);
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        }
    }
}
