.button {
    border: 0;
    padding: 0.6rem 1rem;

    background: var(--light-color);
    border-radius: 5px;

    color: var(--text);
    cursor: pointer;

    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
}
