.footerContainer {
    font-size: 1.1rem;

    span {
        font-size: 1.4em;
        color: #e74c3c;
        margin: 0 0.2rem;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}
