.gameContainer {
    background: var(--light-color);
    border-radius: 10px;

    tr td {
        background: var(--dark-color);

        width: 7rem;
        height: 7rem;

        cursor: pointer;
        transition: 0.2s;

        &:hover {
            opacity: 0.6;
        }
    }
}
