* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body,
html {
    background: var(--dark-color);
    color: var(--text);
}

.container {
    display: grid;
    place-items: center;

    margin: 2rem 0;
}

:root {
    --dark-color: #121212;
    --light-color: #1e1e1e;
    --text: #e1e1e1;

    --blue: #04dac2;
    --purple: #bb86fc;
}
