* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

body,
html {
    background: var(--dark-color);
    color: var(--text);
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}
    
h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    height: 100vh;

    padding: 1.3rem 0;
}

button a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.x {
    color: var(--blue);
}

.o {
    color: var(--purple);
}

:root {
    --dark-color: #121212;
    --light-color: #1e1e1e;
    --text: #e1e1e1;

    --blue: #04dac2;
    --purple: #bb86fc;
    --red: #e74c3c;
}
