.scoreboardComponent {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;

    font-size: 1.5rem;

    padding: 0.8rem 2rem;
    border-radius: 50px;
    background: var(--light-color);

    div {
        display: flex;
        gap: 3rem;

        div span {
            font-size: 0.9em;
        }
    }
}

.divisor {
    display: flex;
    justify-content: center;
}

.x {
    color: var(--blue);
}

.o {
    color: var(--purple);
}
