.playerTurnContainer {
    display: flex;

    font-size: 1.3rem;

    span {
        display: inline-flex;
        align-items: center;
    
        margin-right: 1rem;
    
        &:first-of-type {
            gap: 0.5rem;
        }
    }
}
