.scoreboardComponent {
    display: grid;
    grid-template-columns: 1fr 1.4rem 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;

    font-size: 1.5rem;

    min-width: 40vw;
    max-width: 90vw;

    padding: 0.6rem 2rem;
    border-radius: 50px;
    background: rgba(30, 30, 30, 0.4);

    .player {
        div,
        & {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
        }
    }

    .x {
        text-align: center;
    }

    @media (max-width: 400px) {
        & {
            display: flex;
            flex-direction: column;

            border-radius: 0;
            padding: 0.3rem 2rem;

            .player {
                width: 100%;

                &:last-of-type {
                    &,
                    > div:last-of-type {
                        flex-direction: row-reverse;

                        svg:last-of-type {
                            margin-left: 0.1rem;
                        }
                    }
                }
            }

            .x {
                display: none;
            }
        }
    }
}
