.container {
    &,
    main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    gap: 1rem;

    padding: 1.2rem;

    background: var(--light-color);
    border-radius: 10px;

    header,
    main article {
        display: flex;
        justify-content: space-between;
    }

    header {
        font-size: 1.1em;
    }

    main {
        font-size: 0.85em;
        gap: 1rem;

        article span:first-of-type::before {
            content: '•';
            padding-right: 0.3rem;
        }
    }
}

.icons {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}
