.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    margin-top: 3rem;
    padding: 0 8rem;

    .historyItem,
    .tableHeader {
        > div,
        & {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }

        padding: 1.4rem;
        border-bottom: 2px solid var(--light-color);
    }
}

.username,
.situation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
