.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    max-height: 36vw;

    padding: 0 12rem;

    .tableHeader,
    .historyItem {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;

        padding: 1.3rem 3rem;
        border-bottom: 2px solid var(--light-color);
    }

    .historyItemContainer {
        overflow: auto;
    }
}

.username,
.situation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
