.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;

    width: 100vw;

    margin-top: 3rem;
    padding: 0 3rem;

    .historyItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        gap: 1rem;

        padding: 1.2rem;

        background: var(--light-color);
        border-radius: 10px;

        header {
            display: flex;
            justify-content: space-between;

            font-size: 1.1em;
        }

        main {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            font-size: 0.85em;

            article {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.username,
.situation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
