.container > div {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    padding: 1.2rem 0;
    border-bottom: 2px solid var(--light-color);
}

.username {
    text-align: start;
}

.icons {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding-left: 0.5rem;
}
