.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    height: 100%;

    div {
        display: inline-flex;
        align-items: center;
        gap: 1rem;

        span {
            padding-right: 1rem;
            border-right: 2px solid var(--text);
            font-size: 1.7em;
        }
    }

    button {
        width: 100%;
    }
}
