.back {
    position: absolute;
    top: 0;
    left: 0;

    margin: 2.1rem;
    padding: 0 1rem;

    border-radius: 50px;
    border: 0;
    cursor: pointer;

    transition: 0.3s;

    &:hover {
        background: var(--light-color);
    }
}
