.footerContainer {
    display: inline-flex;
    align-items: center;
    justify-self: center;
    gap: 0.4rem;

    font-size: 1.1rem;

    a {
        color: inherit;
        text-decoration: none;
    }
}
