.menuContainer {
    div:last-of-type {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;

        margin-top: 2rem;
    }

    button {
        padding: 0.8rem 3rem;
    }
}

.startButton {
    display: grid;
    justify-content: center;

    button {
        padding: 0.8rem 6rem;
    }
}
